{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static '/css/DSA1.css' %}" />
    
</head>
<style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #11e195;
    color: white;
  }
  </style>
<body>
    <div class="split left">
      <div class="mt-0">
        <a href="{% url 'store' %}"><button type="button" class="btn btn-dark">Go Back</button></a>
        </div>
          <!--2nd HTML-->
          <div class="column">
        <img id=featured src="{% static '/images/backpack.png' %}" >

        <div id="slide-wrapper" >
          <img id="slideLeft" class="arrow" src="{% static '/images/arrow-left.png' %}">

          <div id="slider">
            <img class="thumbnail" src="{% static '/images/backpack.png' %}" >
            <img class="thumbnail" src="{% static '/images/backpack1.png' %}" >
            <img class="thumbnail" src="{% static '/images/backpack2.png' %}" >
            <img class="thumbnail" src="{% static '/images/backpack3.png' %}" >
            <img class="thumbnail" src="{% static '/images/backpack4.png' %}" >
            <img class="thumbnail" src="{% static '/images/backpack5.png' %}" >
            

            <img class=>
            <!--<img class="thumbnail" src="images/preset2.jpg">
            <img class="thumbnail" src="images/preset3.jpg">
            <img class="thumbnail" src="images/preset4.jpg"-->
          </div>
                  <img id="slideRight" class="arrow" src="{% static '/images/arrow-right.png' %}">
        </div>
      </div>
          
      
          
        
      </div>
      
      <div class="split right">
      <div id="content-wrapper">  
          <div class="column1">
        <div class="name">TRAWOC 80L Travel Backpack</div>
          <div class="subname">TRAVEL</div>
          <div class="price">₹1800</div>
        <div class="description">
          <p>
            Our rucksack has top zipper compartment which allows access to your items from the top. In this way, you can keep the items in this compartment which are required frequently. The 80 litre capacity will ensure that you are able to fit all of your equipment in it comfortably. 
          </p>
          <h3>About this items</h3>
          <ul>
          <li>LARGE, SPACIOUS & MULTI UTILITY</li>
		  <li>ENDURING & LONG LASTING</li>
		  <li>SMART & TRENDY LOOKS</li>
		  <li>WATER RESISTANT</li>
		  <li>Age Range Description</li>
          <li>Dual time; telememo; light; alarm</li>
          <li>2 years manufacturer warranty on manufacturing defects</li>
          </ul>
          </div>

        
        <a href="#"><button class="custom-btn btn-3"><span>Add to Cart</span></button></a>
        <a href="#"><button class="custom-btn btn-3"><span>Buy Now</span></button></a>
      </div>
      
      
        
      </div>
    <div class="column2">
    
      
      <h3>Product details</h3>
      <p>
        Product Dimensions : 50.8 x 50.8 x 101.6 cm; 0.6 Grams
        <br>Date First Available : 31 January 2020</br>
        <br>Manufacturer : TRAWOC</br>
        <br>Net Quantity : 1.00 count</br>
        <br>ASIN : B0847PGZZM</br>
        <br>Item model number : HK007-TRAWOC-GREY</br>
        <br>Country of Origin : India</br>
        <br>Department : Unisex-adult</br>
        <br>Manufacturer : TRAWOC, TRAWOC Gears, Customer care: mail@trawoc.com</br>
        <br>Item Weight : 0.6 g</br>
        <br>Item Dimensions LxWxH : 50.8 x 50.8 x 101.6 Centimeters</br>
      </p>
    
      </div>

		
 
    <!--JAVASCRIPT-->
  <script type="text/javascript">
		let thumbnails = document.getElementsByClassName('thumbnail')

		let activeImages = document.getElementsByClassName('active')

		for (var i=0; i < thumbnails.length; i++){

			thumbnails[i].addEventListener('mouseover', function(){
				console.log(activeImages)
				
				if (activeImages.length > 0){
					activeImages[0].classList.remove('active')
				}
				

				this.classList.add('active')
				document.getElementById('featured').src = this.src
			})
		}


		let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})


	</script>
  
  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
  ></script>

<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>

<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
         
</body>
</html>